.admin-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background: linear-gradient(to right, #065f46, #1e3a8a)
}
.admin-auth form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 350px;
    display: flex;
    flex-direction: column;
}
.admin-auth h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.admin-auth label {
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
    display: flex;
    flex-direction: column;
}
.admin-auth input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
.admin-auth button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #065f46;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.admin-auth button:hover {
    background: #1e3a8a;
}