.dropdown {
  position: relative;
  width: 100%;
  margin: 15px auto;
}
.dropdown-header {
  background: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.arrow.open {
  transform: rotate(-135deg);
}
.dropdown-list {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}
.dropdown-item {
  padding: 10px;
  cursor: pointer;
}
.dropdown-item:hover {
    background-color: #e6f4ea;
}
