.hero {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/main.png") no-repeat center / cover;
    width: 100%;
    height: 600px;
    margin-top: -90px;
    color: white;
    padding: 20px;
    position: relative;
}
.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-left: 0;
}
.hero h1 {
    margin-top: 100px;
    font-size: 60px;
}
.hero p {
    font-size: 18px;
    width: 80%;
    color: #e0e0e0;
}
.hero p:first-of-type {
    display: block;
}
.hero p:nth-of-type(2){
    display: none;
}
.hero button {
    padding: 12px 14px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #044326;
    cursor: pointer;
    border: #044326;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}
.hero button:hover {
    transform: scale(1.1);
    background-color: #06693A;
}
.hero img {
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
@media(min-width:800px){
    .hero {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/desktop-main.jpg") no-repeat center / cover;
        height: 500px;
        padding: 40px 60px;
    }
    .hero-container {
        width: 50%;
        margin-left: 10%;
    }
    .hero p:first-of-type {
        display: none;
    }
    .hero p:nth-of-type(2){
        display: block;
    }
}