.testimonials {
    background-color: #f9f9f9;
    padding: 80px 40px;
    width: 100%;
}
.testimonials h2 {
    text-align: center;
    font-size: 30px;
    color: #01180E;
    margin-bottom: 20px;
}
.testimonials .reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.testimonials .item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}
.testimonials .item:hover {
    transform: scale(1.1);
}
.testimonials .item .review {
    line-height: 1.5;
    margin: 15px 0;
    color: #555;
}
.testimonials .item h5 {
    font-size: 20px;
    color: #044326;
    margin-bottom: 10px;
    font-style: italic;
    text-align: right;
}